.navbar {
	background-color: var(--primary-theme1);
	display: flex;
	justify-content: space-between;
	align-items: center;
    /* width: 80%; */
    margin: auto;
}

.side {
    width: 200px;
    margin: 0;
}

.right {
    position: relative;
  float: right;
}

.profile {
    background-color: white;
    padding: 10px;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    margin-left: 12px;
}

.brand {
	padding-left: 0.75em;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: white;
}

.logo {
    width: 200px;
    border-radius: 20px;
  }

.text {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    /* padding-right: 10%; */
}

a:visited {
	color: var(--black);
}

a:hover {
	color: var(--dark-grey);
}

a {
	text-decoration: none;
}

.navbar input {
    background-color: white;
}

.navbar input:focus {
	outline: none;
	box-shadow: 0px 0px 0px 2px var(--dark-grey);
	background-color: white;
}
